.main-layout-bg {
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .main-layout-content {
    width: 100%;
    height: calc(100vh - 64px);
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}
