/* Main app shell: navbar + scrollable content area */
.main-layout-bg {
  background-color: var(--background);
  width: 100%;
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .main-layout-content {
    width: 100%;
    min-width: 0;
    flex: 1;
    min-height: calc(100vh - var(--navbar-height, 64px));
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}
