.info-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;

    .text{
        font-size: 16px;
        font-weight: 500;
        color: var(--text-gray);
        text-align: center;
    }
}

.start-interview-bg {
    display: flex;
    flex-direction: column;
    gap: 28px;
    height: 100%;
    width: 100vw;
    padding: 0px 60px;

    .title-text{
        font-size: 24px;
        font-weight: 700;
        color: #010021;
        text-align: center;
        margin-top: 28px;
        margin-bottom: 0px;
    }

    .start-interview-container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 80vh;

        .context-container{
            display: flex;
            flex-direction: column;
            gap: 10px;
            min-width: 50%;
            height: 100%;
            padding: 20px;

            .context-card{
                min-width: 400px;
                max-width: 500px;
            }

            .info-card{
                min-width: 400px;
                max-width: 500px;
                background-color: #faf3b4;
                border: 1px solid #fcd33d;
            }

            .context-item{
                display: flex;
                align-items: center;
                gap: 5px;
                width: 100%;

                p:first-child{
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--text-gray);
                }

                p:last-child{
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--text-black);
                }
            }
        }

        .camera-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            height: 100%;
            padding: 20px;
            gap: 20px;

            .icon-container{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 400px;
                height: 350px;
                background-color: #ebe6e6;
                border-radius: 10px;
            }
        }
    }
}