@import './core/index';

@font-face {
  font-family: "Geist";
  src: url("/fonts/GeistVF.woff");
  font-weight: 100 900;
  font-style: normal;
}

html,
body {
  font-family: "Geist", sans-serif;
  max-width: 100vw;
  overscroll-behavior: none;
}

body {
  background-color: var(--background-color);
  color: var(--text-primary-color);
  transition:
    background-color 0.5s ease-in,
    color 0.5s ease-in;
  overscroll-behavior: none;
  padding: 0px;
  margin: 0px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

::-moz-selection {
  color: var(--selection-text);
  background: var(--selection-bg);
}

::selection {
  color: var(--selection-text);
  background: var(--selection-bg);
}
